
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {

    background: linear-gradient(
        135deg,
        #100707 0%,
        #0f0505 30%,
        #290b0b 60%,
        #1a0707 100%
    );
    padding: 33px;
}

/* NAVIGATION SECTION */

nav {
    background: #470b0b;
    border-radius: 9px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/*My Creative Journey font*/

.logo {
    font-size: 50px;
    font-weight: 700;
    color: #faf9f8;
}

/* meni list (about,project,skills contact) */

.menu {
    display: flex;
    font-size: 23px;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #f7dd96;
    font-weight: 1000;
    transition: .3s;
    text-shadow: 1px 2px 4px rgba(54, 14, 14, 0.6);
}

.menu a\:hover {
    opacity: .7;
}

/* GRID BEFORE THE ABOUT ME */

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
}











/* HERO PROFILE */

.profile {
    grid-column: 1 / 3;
    position: relative;
    height: 620px;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
}

.profile img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center 70%;
}

.profile-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(24, 6, 6, 0.35),
        transparent
    );
}


.profile .profile-sticker {
    position: absolute;

    /* SAME WIDTH AS COVER */
    width: 50%;
    height: auto;

    /* AT THE TOP */
    top: -360px;
    bottom: auto;

    left: -300px;

    /* DON'T CENTER WITH TRANSFORM */
    transform: none;

    /* KEEP IMAGE PROPORTION */
    object-fit: contain;

    /* NO BORDER OR SHADOW */
    border: none;
    border-radius: 0;
    box-shadow: none;

    /* ABOVE COVER */
    z-index: 3;

    /* IMPORTANT */
    pointer-events: none;
}
.profile .profile-sticker1 {
    position: absolute;

    /* SAME WIDTH AS COVER */
    width: 20%;
    height: auto;

    /* AT THE TOP */
    top: -5px;
    bottom: auto;

    left: 1500px;

    /* DON'T CENTER WITH TRANSFORM */
    transform: none;

    /* KEEP IMAGE PROPORTION */
    object-fit: contain;

    /* NO BORDER OR SHADOW */
    border: none;
    border-radius: 0;
    box-shadow: none;

    /* ABOVE COVER */
    z-index: 3;

    /* IMPORTANT */
    pointer-events: none;
}

/*SHANELL CALIMLIM*/

.profile-text h1 {
    color: #fafafa;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin: 0 0 5px 30px; 
    line-height: 0.5;
}

/*COMPUTER ENGINEERING*/

.profile-text h3 {
    color: #ccaf5e;
    font-size: 50px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin: 0 0 3px 35px;
    line-height: 1.10;
}

/*UE STUDENTS*/

.profile-text h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    line-height: 1.1;
    margin: 0 0 3px 35px;
    font-family: 'Barlow Condensed', sans-serif;
}







/* ABOUT SECTION */

/*about me font*/

.about{
    background: transparent;
    box-shadow: none;
    color: rgb(24, 6, 6);
    margin: 24px 0;
}

.about h2{
    color: white;
    font-size: 70px;
    margin-bottom: 15px;
    margin: 0 0 25px 90px;
    line-height: 0.7;
}

/*About Me Description*/

.about p{
    color: rgb(207, 175, 107);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0  0 3px 100px;
    line-height: 1.6;
    font-size: 30px;
    text-align: justify;
}


.photo-stack {
    position: relative;
    width: 350px;
    height: 450px;
    margin: auto;
    cursor: pointer;
}

.photo {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border: 12px solid white;
    border-radius: 8px;

    box-shadow: 0 15px 30px rgb(0, 0, 0);

    transition: transform 0.6s ease;
}

.photo-stack .p3 {
    transform: rotate(0deg);
    z-index: 3;
}


.photo-stack:hover .p3 {
    transform: translateY(-100px) rotate(0deg);
}

/*ENVELOP STICKER*/

.photo-sticker {
    position: absolute;

    width: 448px;
    height: auto;

    top: 250px;
    left: 60%;

    transform: translateX(-50%);

    object-fit: contain;

    border: none;
    border-radius: 0;
    box-shadow: none;

    z-index: 10;

    pointer-events: none;
}










/* SKILLS AND HOBBIES SECTION*/


.skills-showcase {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 900px 1fr;

    align-items: start;

    /* CONTROL THE GAP HERE */
    gap:3spx;

    margin: 50px 0;

    position: relative;
}


/* =========================================
   SHOWCASE IMAGE
========================================= */

.skills-showcase .showcase-image {
    width: 910px;
    height: 910px;

    object-fit: cover;
    object-position: center;

    display: block;

    /* CONTROL IMAGE POSITION HERE */
    margin: -45px 0 0 0;

    border-radius: 0;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.692);

    position: relative;
    z-index: 1;
}


/* STICKER*/

.skills-showcase .showcase-sticker {
    position: absolute;

    width: 350px;
    height: auto;

    top: 510px;
    left: -70px;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
    box-shadow: none;

    z-index: 10;

    pointer-events: none;
}
/*Creativeside*/

.tag{
    display: inline-block;
    background: #630e0e;
    color: #f7dd96;
    font-family: "Homemade Apple", cursive;
    font-size: 70px;
    padding: 0px 4px;
    margin: 0 0 5px 20px;
    border-radius: 10px;
    margin-left:50px;
    
}

.showcase-sticker {
    position: absolute;

    /* Sticker size */
    width: 300px;
    height: auto;
    bottom: 20px;
    left: 400px;

    object-fit: contain;

    border: none;
    border-radius: 0;
    box-shadow: none;

    z-index: 5;

    pointer-events: none;
}

/*skills and hobbies fonts*/

.skills-content h2 {
    color: white;
    font-size: 70px;
    margin: 0 0 3px 20px;
    line-height: 1.3;
    margin-left:50px;
}

/* DIAGRAM LIST */

.skills-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
    gap: 15px;
    margin: 25px 0;
    line-height: 0.7;
    text-align: left;
    margin-left: 50px;
}

/* COLOR OF DIAGRAM LIST */

.skills-list span {
    background: #531010f3;
    color: #f7dd96;
    padding: 12px 18px;
    border-radius: 50px;
    border: 1px solid #070606;
    line-height: 0.7;
    margin-left: 0;
}

/* SKILLS AND HOBBIES BACKGROUND */

.skills-content {
    position: relative;
    z-index: 1;
}

.skills-description {
    position: relative;
    z-index: 2;
    height: 450px;
    padding: 35px;
    border-radius: 20px;
    overflow: visible;
}

/* LETTER BACKGROUND */

.skills-description::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image: url("assets/letter bg.png");
    background-size: 92%;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}


/* HEART STICKER */

.skills-description .envelope {
    position: absolute;

    width: 240px;
    height: auto;

    right: -15px;
    top: -85px;

    margin: 0;
    padding: 0;

    object-fit: contain;

    /* IMPORTANT */
    box-shadow: none;
    z-index: 5;

    cursor: pointer;

    /* Hover movement */
    transition: transform 0.6s ease;
}

/* STICKER HOVER */

.skills-description .envelope:hover {
    transform: translate(20px, -15px) rotate(8deg);
}


/* TEXT DESCRIPTION OF SKILLS */
.skills-description p {
    position: relative;
    z-index: 2;

    color: rgb(170, 130, 55);
    font-family: "Times New Roman", Times, serif;
    font-size: 29px;
    line-height: 1.4;
    text-align: justify;
    font-weight: bold;

    margin: 0;
    padding: 80px 117px 40px 117px;
}











/* PROJECTS SECTION*/

.projects{
    grid-column: 1 / 3;
    text-align: center;
    margin: -5px 0;
}

.project-title{
    display: inline-block;
    background: #630e0e;
    color: #f7dd96;
    font-family: "Homemade Apple", cursive;
    font-size: 70px;
    border-radius: 10px;
    padding: -15px -35px;
    margin-bottom: 40px;
    line-height: 2;
}

 .projects-card {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    align-items: stretch;
    gap: 35px;
    background: #d8c6a8;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(87, 7, 7, 0.87);
}

/* LEFT IMAGE */

.project-image img{
    width: 120%;
    height:500px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left:-90px;
}
/* RIGHT SIDE */

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
}

/* THREE SMALL IMAGES */

.project-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    margin-top: auto;
}

.project-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6d0b16;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

/* TEXT BOX */

.project-info {
    background: #6d0b16;
     color: #f7dd96;
    border-radius: 30px;
    padding: 30px;
    height: 500px;
    display: flex;
    align-items: center;
}

.project-info p {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 1.8;
    text-align: justify;

}






/* CONTACT */

.contact {
    grid-column: 1 / 3;
    text-align: center;
    padding: 0;
    margin: 160px 0;
    box-shadow: none;

    /* VERY IMPORTANT */
    position: relative;
    min-height: -1000px;
}

/* CONTACT TITLE */

.contact h2 {
    color: #a19266;
    font-family: "Homemade Apple", cursive;
    font-size: 70px;
    font-weight: 400;

    margin: 0 0 35px 0;

    line-height: 1;
}



/* CONTACT DESCRIPTION */

.contact p {
    color: rgb(207, 175, 107);

    font-family: "Times New Roman", Times, serif;

    font-size: 28px;

    margin: 0 0 50px 0;

    line-height: 1.5;
}


/* SOCIAL ICONS */

.contact-icons {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;

    flex-wrap: wrap;
}


/* SOCIAL CIRCLES */

.contact-icons a {
    width: 70px;
    height: 70px;

    border-radius: 50%;

    background: #6e1010;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    transition: 0.3s ease;
}


/* HOVER */

.contact-icons a:hover {
    background: #d8a56b;
    color: #6e1010;

    transform: translateY(-5px);
}


/* ICON SIZE */

.contact-icons i {
    font-size: 32px;
}


/* =========================================
   RIGHT STICKER
========================================= */

.contact-sticker {
    position: absolute;

    width: 700px;
    height: 700px;

    right: -40px;

    /* POSITION FROM CONTACT SECTION */
    top: 3100px;

    z-index: 5;
    pointer-events: none;
}

.contact-sticker img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border: none;
    box-shadow: none;
}


/* =========================================
   LEFT STICKER
========================================= */

.contact-sticker-2 {
    position: absolute;

    width: 700px;
    height: 700px;

    left: -40px;

    /* SAME LEVEL AS RIGHT */
    top: 3100px;

    z-index: 5;
    pointer-events: none;
}

.contact-sticker-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border: none;
    box-shadow: none;
}